@import "assets/styles/var";
@import "assets/styles/macro";

* {
    box-sizing: border-box;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

html {
    height: 100%;
    @include vendor-prefix(text-size-adjust, 100%); /* Prevent font scaling in landscape while allowing user zoom */
    @include vendor-prefix(user-select, none);
}

body {
    margin: 0;
    color: white;
    background-color: $brown4;
    height: 100%;
}

ac-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    router-outlet+* {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        height: 100%;
        overflow-y: hidden;

        > .container {
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }
}



nav {
    width: 100%;
    background-color: $c3;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding: 1em .5em;
            width: 25%;
            text-align: center;
        }
    }
}


div.cell {
    display: inline-block;
    padding: .2em;
    width: calc(100%/7);
    height: 8em;
    border-right: 1px solid $c5;
    border-bottom: 1px solid $c5;
    text-align: right;
    line-height: 1.2em;
    font-size: .5em;

    &:nth-child(-n+7) {
        border-top: 1px solid $c5;
    }

    &:nth-child(7n+1) {
        border-left: 1px solid $c5;
    }

    &.sun {
        span:first-child {
            color: $c3;
        }
    }

    &.sat {
        span:first-child {
            color: $c5;
        }
    }

    &.dim {
        background-color: $brown2;

        > * {
            opacity: .5;
        }
    }

    &.selected {
        background-color: $brown3;
    }

    span {
        display:block;
    }

    span:first-child {
        font-weight: bold;
    }
}

ac-main {
    padding: .5em;

    .header {
        text-align: right;
        font-size: 1.2em;
        padding: .2em 0;
    }

    .container {
        background-color: $brown2;
        padding: 1em;
    }
}
